[Unit]
Description=Syncthing - file sync tool
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Container]
ContainerName=syncthing

Image=docker.io/syncthing/syncthing

AutoUpdate=registry

Volume=/mnt/data/syncthing/_config/syncthing:/var/syncthing/config:Z
Volume=/var/mnt/data/syncthing:/var/mnt/data/syncthing:z

PublishPort=127.0.0.1:8384:8384
PublishPort=22000:22000/tcp
PublishPort=22000:22000/udp
PublishPort=21027:21027/udp

UserNS=keep-id:uid=1000,gid=1000

Network=syncthing.network

[Service]
Restart=on-failure
RestartSec=1
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=default.target
